 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Montserrat";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-div {
      width: 600px;
      height: 600px;
      
  }

  .card {
    position: relative;
    top: 87px;
    left: 118px;
    width: 335px;
    height: 340px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(129, 129, 129, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(129, 129, 129, 0.2);
    box-shadow: 0 8px 6px -6px rgba(129, 129, 129, 0.2);
  }

  .card-top {
     height: 242px;
     padding: 10px 21px 13px 21px;
     background-image: url(bg-image.png);
     text-transform: uppercase;
     font-weight: bold;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
  }

  .textbox {
    width: 82px;
    height: 23px;
    text-align: center;
    background-color: #ffc600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

   .textbox::after {
    position: absolute;
    left: 0;
    top: 23px;
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid #ffc600;
    border-right: 6px solid transparent;
  }

  .textbox > p {
    color: #48494a;
    font-size: 10px;
  }

  .company-name > h1 {
    color: white;
    font-size: 15px;
  }

  .card-bottom {
    padding: 18px 0 24px 21px;
  }

  .street-adress {
    font-size: 14px;
    color: #48494a;
    margin-bottom: 16px;
  }

  .million > span {
    background-color: #fffbd7;
    font-size: 18px;
    padding: 5px 17px 5px 5px;
  }

  .million > span:last-of-type {
    color: #48494a;
    background-color: inherit;
    font-size: 12px;
    margin-left: -4px;
  }

