
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat";
    background-color: #f0f0f0;
  }
  
  .page-container {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 130px;
  }
  .wrapper {
    width: 100%;
    background-color: #fff;
  }